.textHeader {
    transition: 0.2s;
}

.textHeader:hover {
    color: orange;
    transition: 0.2s;
}

.headerActive {
    color: orange;
    transition: 0.2s;
}

.headerActive:hover {
    color: black;
    transition: 0.2s;
}

.cartButtonActive {
    display: none;
}

.cartButtonDisable {
  display: none;
}